body {
    margin: 0;
    padding: 0;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: rgb(18, 18, 91);
    font-size: 16px;
    font-weight: 700;
}

.header__links {
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
}

.header__links li {
    display: inline;
    padding-top: 0;
    margin-top: 0;
}

.header__links__items {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.header__links__items:hover {
    transition: 0.3s;
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.503);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 850px;
    margin: 0 auto;
    border: 2px solid black;
}

.container > div {
    margin: 20px;
}

.main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1000px 300px;
}

.biography {
    border: 3px solid black;
    padding: 5px;
    font-size: 16px;
}

.biography h2 {
    text-align: center;
}

.abz {
    font-weight: 700;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr;
    grid-template-rows: repeat(6, 58.5px);
    box-shadow: 10px 10px 10px rgb(129, 127, 127);
    border-radius: 15px;
}

.grid1 > div {
    border: 3px solid black;
}

.g1 {
    grid-column: span 2;
    background-color: red;
    border-radius: 10px 0px 0px 0px;
}

.g4 {
    border-radius: 0px 10px 0px 0px;
}

.g5 {
    grid-column: span 2;
}

.g6 {
    grid-column: span 2;
}

.g7 {
    grid-row: span 2;
}

.g8 {
    grid-column: span 2;
}

.g9 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: blue;
}

.g10 {
    grid-column: span 2;
    background-color: black;
}

.g11 {
    grid-row: span 2;
    background-color: yellow;
}

.g12 {
    grid-row: span 2;
    border-radius: 0px 0px 0px 10px;
    background-color: yellow;
}

.g13 {
    grid-row: span 2;
}

.g14 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: red;
}

.g15 {
    border-radius: 0px 0px 10px 0px;
}

.grid2 {
    display: grid;
    border-radius: 10px;
    grid-template-columns: 0.5fr 1fr 1.5fr 0.75fr 0.9fr 1.2fr;
    grid-template-rows: 1fr repeat(4, 70px) 50px;
    box-shadow: 10px 10px 10px rgb(129, 127, 127);
}

.grid2 > div {
    border: 3px solid black;
}

.gh1 {
    grid-column: span 3;
    border-radius: 10px 0px 0px 0px;
}

.gh2 {
    grid-column: span 3;
    background-color: yellow;
    border-radius: 0px 10px 0px 0px;
}

.gh3 {
    grid-column: span 3;
    grid-row: span 4;
    background-color: red;
}

.gh4 {
    grid-column: span 3;
    grid-row: span 2;
    background-color: yellow;
}

.gh5 {
    grid-column: span 2;
    grid-row: span 2;
}

.gh6 {
    grid-row: span 2;
}

.gh7 {
    background-color: black;
    border-radius: 0px 0px 0px 10px;
}

.gh8 {
    grid-column: span 2;
}

.gh9 {
    grid-column: span 3;
    border-radius: 0px 0px 10px 0px;
}

.grid3 {
    display: grid;
    border-radius: 10px;
    grid-template-columns: 0.5fr 0.7fr 1fr 0.4fr;
    grid-template-rows: 0.4fr repeat(5, 1fr);
    box-shadow: 10px 10px 10px rgb(129, 127, 127);
}

.grid3 > div {
    border: 3px solid black;
}

.gj1 {
    grid-column: span 2;
    border-radius: 10px 0px 0px 0px;
}

.gj3 {
    border-radius: 0px 10px 0px 0px;
    background-color: black;
}

.gj4 {
    grid-row: span 2;
}

.gj5 {
    grid-row: span 2;
}

.gj6 {
    grid-column: span 2;
    grid-row: span 4;
    background-color: blue;
}

.gj7 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: yellow;
}

.gj8 {
    border-radius: 0px 0px 0px 10px;
}

.gj9 {
    background-color: black;
}

.gj10 {
    grid-column: span 2;
    border-radius: 0px 0px 10px 0px;
}

.grid4 {
    display: grid;
    border-radius: 10px;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.25fr;
    grid-template-rows: repeat(5, 1fr) 0.6fr;
    box-shadow: 10px 10px 10px rgb(129, 127, 127);
}

.grid4 > div {
    border: 3px solid black;
}

.gk1 {
    grid-row: span 3;
    background-color: red;
    border-radius: 10px 0px 0px 0px;
}

.gk2 {
    grid-column: span 2;
    background-color: yellow;
}

.gk3 {
    grid-row: span 2;
    background-color: red;
    border-radius: 0px 10px 0px 0px;
}

.gk4 {
    grid-row: span 2;
}

.gk5 {
    grid-row: span 2;
}

.gk8 {
    grid-column: span 2;
}

.gk9 {
    grid-row: span 2;
}

.gk11 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: blue;
}

.gk12 {
    background-color: black;
    border-radius: 0px 0px 0px 10px;
}

.gk13 {
    background-color: yellow;
    border-radius: 0px 0px 10px 0px;
}

.footer__nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(18, 18, 91);
    margin-top: 20px;
    height: 250px;
}

.footer__links {
    width: 150px;
    text-align: center;
    list-style: none;
}

.footer__links li {
    padding-top: 0;
    margin-top: 25px;
}

.footer__links__items {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: 700;
}

.footer__links__items:hover {
    transition: 0.3s;
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.503);
}

.footer__image img{
    width: 200px;
    height: 247px;
}