body {
    font-size: 23px;
}

.container {
    width: 950px;
    border: 1px solid black;
    margin: 50px auto;
    padding: 10px 50px 40px 50px;
    text-align: justify;
}

.container_2 {
    width: 800px;
    margin: 50px auto;
    border: 3px solid black;
    padding: 20px 20px;
}

.container_3 {
    width: 950px;
    margin: 50px auto;
}

.num1 {
    color: blue;
}

.num1_a {
    text-align: right;
}

.num1_a a {
    color: blue;
    text-decoration: none;
}

hr {
    border: 5px solid black;
    padding-left: 0px;
}

.seo {
    width: 460px;
    height: 230px;
    float: left;
    border: 3px solid black;
    margin-right: 20px;
}

.usability {
    width: 420px;
    height: 250px;
    float: left;
    border: 3px solid black;
    margin-right: 10px;
}

.sait {
    width: 400px;
    height: 200px;
    float: left;
    border: 3px solid black;
    margin-right: 10px;
    margin-bottom: 30px;
}

.container_2 h1, h2 {
    text-align: center;
}

.container_2 h1 {
    margin-top: 0px;
    padding-top: 0px;
}

.container_2 h2 {
    color: rgb(255, 154, 171);
}

.num2_p {
    font-size: 18px;
    text-indent: 50px;
    text-align: justify;
    line-height: 2;
}

.usb {
    color: rgb(8, 198, 8);
}

.num2_a {
    text-align: right;
}

.num2_a a {
    color: rgb(255, 154, 171);
    text-decoration: none;
}

.num3_p {
    text-indent: 50px;
    text-align: justify;
    line-height: 2;
    margin-bottom: -25px;
}

.nav1 {
    height: 40px;  
    width: 100%;  
    background: rgb(59, 59, 59);  
    font-size: 16px;  
    font-weight: bold;
    padding: 0;
}

.nav1 ul li {
    display: inline;
    float: left;
}

.nav1 ul {
    padding-left: 0px;
}

.nav1 a:link, .nav1 a:visited {
    text-decoration: none;
}

.nav1 a {
    color: #fff;  
    display: inline-block;
    text-decoration: none;  
    line-height: 40px;
    padding: 0 10px;
    border-top: 1px solid black;
}

.nav1 a:hover , a:active {
    background-color: #fff;
    color: black;
}

.web {
    text-align: center;
}

.web_ind dl{
    padding: 0 15px;
}

.web_ind h2 {
    text-align: left;
}

.web_ind h3 {
    margin-left: 10px;
}

.border {
    border: 1px solid black;
    border-top: 0;
}

.green_border {
    border: 3px dashed green;
    border-radius: 20px;
    color: green;
    padding: 0 15px;
}

.green_border h1 {
    color: green;
    text-align: center;
}

.green_border h2 {
    color: green;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
}

.green_border p {
    text-align: right;
    font-size: 23px;
}

.text-green {
    font-weight: 700;
    text-decoration: underline;
}

.red_border {
    color: red;
    border: 2px solid red;
    border-radius: 30px;
    padding: 0 30px;
}

.red_border h1, h2 {
    text-align: left;
    color: rgb(171, 1, 1);
}

.green-text {
    color: green;
}

.descrip {
    color: black;
    text-align: right;
    font-style: italic;
}

.nav2 {
    height: 60px;  
    width: 100%;  
    background: orange;  
    font-size: 16px;  
    font-weight: bold;
    padding: 0;
}

.nav2 ul {
    padding-left: 0;
}

.nav2 ul li {
    display: inline;
    float: left;
}

.nav2 a:link, .nav2 a:visited {
    text-decoration: none;
}

.nav2 a {
    color: #fff;  
    display: inline-block;
    text-align: center;  
    text-decoration: none;  
    line-height: 40px;
    padding: 10px 15px;
    height: 60px;
}

.nav2 a:hover , a:active {
    background-color: #fff;
    color: orange;
}

.orange-border {
    border: 2px solid orange;
    border-top: 0;
    color: orange;
}

.orange-border h1, p {
    padding: 0 15px;
}

.orange-border h1, h2 {
    color: rgb(136, 91, 7);
    text-align: center;
}

.nav3 {
    height: 60px;  
    width: 100%;  
    background: #fff;  
    font-size: 16px;  
    font-weight: bold;
    margin: 0 210px;
}

.nav3 ul {
    margin: 0 auto;
}

.nav3 ul li {
    display: inline;
    float: left;
}

.nav3 a:link, .nav3 a:visited {
    text-decoration: none;
}

.nav3 a {
    color: rgb(136, 91, 7);  
    display: inline-block;
    text-align: center;  
    text-decoration: none;  
    line-height: 40px;
    padding: 10px 15px;
}

.nav3 a:hover , a:active {
    background-color: orange;
    color: #fff;
}